.body, html {
    margin: 0px;
    background-color: #030c0c;
}

#main {
    gap: 3vw;
}

#header {
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 31.5%;
    border-radius: 12px;
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 
        0 0 10px rgba(0, 255, 0, 0.8),
        0 0 20px rgba(0, 255, 0, 0.6),
        0 0 30px rgba(0, 255, 0, 0.4);
    background-color: #1d1e1e;
    color: white;
}

#info {
    justify-content: center;
    margin: auto;
    text-align: start;
    align-items: center;
    width: 31.5%;
    border-radius: 12px;
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 
        0 0 10px rgba(0, 255, 0, 0.8),
        0 0 20px rgba(0, 255, 0, 0.6),
        0 0 30px rgba(0, 255, 0, 0.4);
    background-color: #1d1e1e;
    color: white;
}

#links {
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 31.5%;
    border-radius: 12px;
    color: white;
}

.text {
    padding: 1%;
    font-size: 1.3em;
    text-align: center;
}

.task-list {
    font-size: 1.3em;
}

#first {
    padding: 3%;
}

#link_tg {
    font-size: 1.2em;
}

#link_tg_div {
    background-color: #1f9bda;
    border-radius: 6px;
    color: white;
    padding: 2%;
    width: 100%;
    border: #1d1e1e solid 1px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#link_tg_div:hover {
    transform: translateY(-7px);
}

#link_tg_div span {
    flex-grow: 1;  
    text-align: center;
}

#tg-ico{
    width: 48px;
    height: 48px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #main {
        gap: 4vw;
    }

    #header {
        width: 60%;
    }
    
    #info {
        width: 60%;
    }

    .text {
        font-size: 1.1em;
        text-align: center;
    }

    .task-list {
        font-size: 1.1em;
    }

    #links {
        width: 60%;
    }

    #tg-ico{
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #main {
        gap: 6vw;
    }

    #header {
        width: 60%;
    }
    
    #info {
        width: 60%;
    }

    .text {
        font-size: 1em;
        text-align: center;
    }

    .task-list {
        font-size: 1em;
    }

    #links {
        width: 60%;
    }

    #tg-ico{
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 0px) and (max-width: 425px) {
    #main {
        gap: 10vw;
    }

    #header {
        width: 80%;
    }
    
    #info {
        width: 80%;
    }

    .text {
        font-size: 1em;
        text-align: center;
    }

    .task-list {
        font-size: 1em;
    }


    #links {
        width: 80%;
    }

    #tg-ico{
        width: 28px;
        height: 28px;
    }
}